.content_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_contents_box {
    background-color: #F2E9D8;
    width: 1920px;
    height: 798px;
    display: flex;
    gap: 170px;
}

.contents {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 320px;
    padding-top: 200px;
}

.main_contents {
    width: 695px;
    height: 120px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.sub-contents {
    width: 420px;
    height: 86px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 2px;
}

.content_img_box {
    padding-top: 32px;
}

.content_img {
    width: 415px;
    height: 766px;
}

.middle_contents_box {
    width: 1920px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 110px;
}

.middle_contents_img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    object-fit: cover;
    object-position: 50% 33%;
}

.middle_contents_text_box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.middle_contents_text_header,
.middle_contents_text_sub {
    width: 510px;
}

.middle_contents_text_header {
    height: 135px;
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}

.middle_contents_text_sub {
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}