@media screen and (max-width: 770px) {
  .footer_box {
    width: 100%;
    max-width: 390px;
    height: 178px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_container {
    width: 176px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 58px;
    margin-left: 20px;
  }

  .footer_logo_img {
    width: 112px;
    height: 34px;
  }

  .footer_icon {
    display: flex;
    justify-content: space-between;
    width: 176px;
    height: 32px;
  }

  .footer_img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #f29d52;
  }

  .footer_icon_img {
    width: 18.29px;
    height: 18.29px;
    cursor: pointer;
  }

  .f_nav_box {
    width: 84px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 16px;
    margin-right: 22px;
  }
  .f_nav {
    color: #767676;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}

@media screen and (min-width: 771px) {
  .footer_box {
    width: 100%;
    max-width: 1920px;
    
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_container {
    padding: 0 30px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer_logo_img {
    width: 226px;
    height: 70px;
  }

  .footer_icon {
    display: flex;
    justify-content: space-between;
    width: 228px;
    height: 42px;
  }

  .footer_img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #f29d52;
  }

  .footer_icon_img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .f_nav_box {
    display: none;
  }
}
